# Input data
MAPNAME=openhiking-iceland
OSM_COUNTRIES_EUROPE=iceland
OSM_COUNTRIES_EUROPE_PARTIAL=
CONTOUR_LINES=contour-iceland-dtm-v20.o5m
@COASTLINES=sea-mf-iceland.o5m
BOUNDARY_POLYGON=iceland.poly

ROUTE_MAPPING=yes
DEFAULT_TRAIL_COLOR=red
TAG_TRANSFORM_RULES=tag-transform.rules 
MAP_LANGUAGES=is
MAPWRITER_IN_MEMORY=no

MAP_STYLE_NAME=OpenHiking
